.dblcol{
  float: left;
  width: 40%;
}

.tripcol{
  float: left;
  width: 26.66%;
}

.imgcol{
  float: right;
  align-content: center;
  width: 26.66%;
}

.leftcol{
  float: left;
  width: 20%;
  text-align: center;
  padding: 50% 0;
}

.rightcol{
  float: right;
  width: 80%;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

ul, ol{
  margin-left: 0px;
  padding-left: 0px;
}

.proj{
  text-align: left;
}