@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  margin: 0px;
  color: rgb(255, 255, 255);
  background-image: url(assets/bg6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
}

.leftindex{
  position: fixed;
  z-index: 1;
  width: 250pt;
  text-align: center;
  margin: 0 auto;
  justify-content: left;
  /*padding: 25% 0;*/
  transform: translate(0, 31%);
  display: grid;
}


.rightindex{
  position: relative;
  width:calc(100% - 270pt);
  margin-left: 270pt;
  padding: 20px;
}

.window-bg{
  margin: 25px;
  max-width: fit-content;
  background-size: contain;
  padding: 10px 15px;
  background-color: #0000003b;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #000000;
}

.card-bg{
  margin: 25px;
  width: 90%;
  background-size: contain;
  padding: 10px 15px;
  background-color: #0000003b;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #000000;
}

.section-title{
  font-size: 22px;
  padding: 5px 25px;
  text-shadow: 2px 2px 4px #000000;
}

.headshot img{
  padding: 10pt;
  float: center;
  width: 180pt;
}

.dblcol{
  float: left;
  width: 40%;
}

.tripcol{
  margin: 5pt;
  float: left;
  width: 26.66%;
}

.imgcol{
  float: right;
  align-content: center;
  width: 26.66%;
}

a{
  color:white;
  text-decoration: none;
  z-index: 2;
}

.row{
  text-align: left;
  vertical-align: middle;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.card-bg:after{
  content: "";
  display: table;
  clear: both;
}

ul, ol{
  margin: 15px 0px;
  list-style-type: none;
}

.proj{
  text-align: left;
  padding-left: auto;
}

.work{
  text-align: left;
  padding-left: auto;
}

.projimg img { 
  padding:10px;
  float: left;
  width: 180px;
}

.techskill{
  display: inline-flex;
  width: auto;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
  margin: 10px;
}

.techskill img{
  width: 32pt;
}





/*mobile responsiveness*/
@media (max-width: 768pt){
  .leftindex{
    position: relative;
    width: 100%;
    transform: none;
    text-align: center;
  }

  .rightindex{
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .headshot{
    width: 100px;
  }

  .dblcol, .tripcol, .imgcol{
    width: 100%;
    float: none;
  }

  .projimg img{
    width: 100%;
    float: none;
  }
}