body{
  color: white;
  background-image: url(assets/catman1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.window-bg{
  margin: 0px;
  background-image: url(assets/windowneon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  object-fit: cover;
}

.proj-card{
  margin: 0px;
  background-image: url(assets/windowneon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  object-fit: cover;
}

div{
  display: block;
}

.dblcol{
  float: left;
  width: 40%;
}

.tripcol{
  margin: 5pt;
  float: left;
  width: 26.66%;
}

.imgcol{
  float: right;
  align-content: center;
  width: 26.66%;
}

.leftindex{
  float: left;
  width: 20%;
  text-align: center;
  padding: 50% 0;
}

.rightindex{
  float: right;
  width: 80%;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.proj-card:after{
  content: "";
  display: table;
  clear: both;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

ul, ol{
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.proj{
  text-align: left;
}